.mat-tab-group {
  margin-bottom: 48px;
}
.home-content {
  padding-top: 70px;
  background-color: lightsteelblue;
}

.bg-grey {
  background-color: azure;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
